{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}

<h1>Privacy Statement</h1>
<br>
<div>
    <p>
        Meeting Scheduler uses the OAuth2.0 protocol to obtain user-authorized meeting information from Google or Outlook Calendar. The application will only obtain event subjects, start times, and end times to produce a series of free time windows for the user. Meeting Scheduler does not store or provide third parties any personal data.
    </p>
</div>

{% endblock %}
