{% extends "layout.html" %}

{% block title %}
    Schedule Output
{% endblock %}

{% block main %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/scheduleoutput.js') }}"></script>
    <h1>Your free times from {{ StartDate }} to {{ EndDate }}</h1>
    <h2 class="subtext">Time Zone: {{ timezone }}</h2>
    <br>
    <div class="right">
        <button class="btn btn-outline-secondary btn-sm" data-clipboard-target="#scheduleOutputTable" name="copy" id="copy">Copy to clipboard</button>
    </div>
    <br>
    <div>
        <table class="table" id="scheduleOutputTable">
            <thead>
                <th scope="col">Dates</th>
                <th scope="col">Free Times</th>
            </thead>
            <tbody>
                {% for days in output %}
                <tr>
                    <td>{{ days[0] }}</td>
                    <td>
                        {% for times in days[1] %}
                        <ul>{{ times }}</ul>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
